.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
}

.spending { grid-column:  1/ span 2; }
.balance { grid-column:  3; }