.edit_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.owner { grid-area: 1 / 2 / 2 / 3; }
.involved { grid-area: 2 / 2 / 3 / 3; }
.controll_buttons { align-content: end }