.equipment_page_container {
    padding-left: 20%;
    padding-right: 20%;
}

.edit_container {
    grid-area: 1 / 2 / 5 / 4;
}

.fieldcontainer {
    display: flex;
    flex-direction: column;
    gap: 10%;

}

.owner {
    display: flex;
    gap: 5%;
    align-items: center;
}

.involved {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3%;
    padding-left: 40%;
    padding-right: 40%;
}

.controll_buttons {
    gap: 2%;
}

.checkboxen {
    display: flex;
    flex-direction: column;
}
.important {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}
.done {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}